// 전역으로 사용할 sass 변수를 지정합니다. 
// 수정후 재시작시 적용됩니다.

// ant-component에 주입될 변수를 선언합니다.
$layout-body-background: #fff;
$primary-color:#1890ff;
// https://github.com/vueComponent/ant-design-vue/blob/master/components/style/themes/default.less

// colors
$black-color:#333;
$white-color:#FFF;
$green-color:#22D061;
$blue-color:#1BA1F9;
$red-color:#FD3760;
$yellow-color:#FFCC01;
$util-color:#6566CB;
$grey-color:#666;
