
$layout: ant-layout;

#WebApp{
    .container{
        &.#{$layout}{
            &.#{$layout}-has-sider{
                & > .#{$layout}-sider{
                    border-radius: 10px;
                    overflow:hidden;
                }

                .#{$layout}-sider-children{
                    .ant-menu-inline,
                    .ant-menu-vertical,
                    .ant-menu-vertical-left{
                        border-right:none;
                    }
                }

                & > .ant-layout-content{
                    margin-left:20px;
                }
            }

            & > .ant-layout-content{
                background-color: #2D3135;
                border-radius:10px;
                min-height:calc(100vh - 200px);
            }
        }
    }
}
