// Service의 default style => 각 component or page에서 override 할수 있다.

.header {
  text-align: center;
  h3 {
    color: $white-color;
  }
}

.footer {
  text-align: center;
  p {
    font-weight: bold;
  }
}

// import common component
@import './components/commons/Spinner.scss';
@import './Layout.scss';

// import layouts
@import './layouts/Header.scss';

// import component or page
@import './pages/Login.scss';
@import './components/home/Home.scss';
