// 전역으로 사용할 sass 변수를 지정합니다.
// 수정후 재시작시 적용됩니다.

//refs = https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

// ant-component에 주입될 변수를 선언합니다.
$layout-body-background: #fff;
$primary-color: #1890ff;
$layout-footer-background: #d8d8d8;

// colors
$black-color: #333;
$white-color: #fff;
$green-color: #22d061;
$blue-color: #1ba1f9;
$red-color: #fd3760;
$yellow-color: #ffcc01;
$util-color: #6566cb;
$grey-color: #666;
